header(class="header")
  div(class="container header__row")
    a(class="header__logo" href="/")
      svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 187 32")
        path(d="M27.61,0,32,4.39,20.39,16,16,11.61ZM4.39,32,0,27.61,11.61,16,16,20.39ZM0,4.39,4.39,0,16,11.61,11.61,16ZM32,27.61,27.61,32,16,20.39,20.39,16ZM59.59,14.35a.35.35,0,0,1-.38-.38v-.12a.62.62,0,0,0-.21-.49.64.64,0,0,0-.49-.21H55.1a.62.62,0,0,0-.49.21.65.65,0,0,0-.2.49v5.8a.73.73,0,0,0,.2.51.64.64,0,0,0,.49.19h3.41a.66.66,0,0,0,.49-.19.69.69,0,0,0,.21-.51v-.12a.35.35,0,0,1,.1-.26.39.39,0,0,1,.28-.12h1.63a.41.41,0,0,1,.38.38v.12a3,3,0,0,1-.24,1.21,3.16,3.16,0,0,1-.67,1,3.22,3.22,0,0,1-1,.67,3,3,0,0,1-1.2.24H55.1a3.11,3.11,0,0,1-1.21-.24,3.21,3.21,0,0,1-1.65-1.65A3,3,0,0,1,52,19.65v-5.8a3,3,0,0,1,.24-1.21A3.21,3.21,0,0,1,53.89,11a3.11,3.11,0,0,1,1.21-.24h3.41a3,3,0,0,1,1.2.24,3.22,3.22,0,0,1,1,.67,3.16,3.16,0,0,1,.67,1,3,3,0,0,1,.24,1.21V14a.39.39,0,0,1-.12.28.35.35,0,0,1-.26.1Zm17.54,8a.27.27,0,0,1,0,.25.26.26,0,0,1-.23.1H75a.57.57,0,0,1-.32-.1.82.82,0,0,1-.21-.25l-2-4.44H70.11v4.41a.41.41,0,0,1-.12.28.35.35,0,0,1-.26.1H68.08a.42.42,0,0,1-.28-.1.44.44,0,0,1-.1-.28V11.13a.35.35,0,0,1,.1-.26.39.39,0,0,1,.28-.12H74.2a3,3,0,0,1,1.21.24,3.21,3.21,0,0,1,1.65,1.65,3,3,0,0,1,.24,1.21v1a3.21,3.21,0,0,1-.17,1,3.3,3.3,0,0,1-.46.87,2.83,2.83,0,0,1-.72.66,2.8,2.8,0,0,1-.89.42ZM74.2,15.56a.64.64,0,0,0,.49-.19.69.69,0,0,0,.21-.51v-1a.72.72,0,0,0-.7-.7H70.11v2.41Zm15.7-4.79a3.07,3.07,0,0,1,1.21.24,3.34,3.34,0,0,1,1,.67,3,3,0,0,1,.66,1A3,3,0,0,1,93,13.85v5.82a3,3,0,0,1-.25,1.19,3.13,3.13,0,0,1-.66,1,3.34,3.34,0,0,1-1,.67,3.07,3.07,0,0,1-1.21.24H86.49a3.07,3.07,0,0,1-1.21-.24,3.34,3.34,0,0,1-1-.67,3.13,3.13,0,0,1-.66-1,2.82,2.82,0,0,1-.25-1.19V13.85a2.82,2.82,0,0,1,.25-1.19,3,3,0,0,1,.66-1,3.34,3.34,0,0,1,1-.67,3.07,3.07,0,0,1,1.21-.24Zm.7,3.08a.62.62,0,0,0-.21-.49.66.66,0,0,0-.49-.2H86.49a.73.73,0,0,0-.51.2.64.64,0,0,0-.19.49v5.82a.66.66,0,0,0,.19.49.72.72,0,0,0,.51.19H89.9a.66.66,0,0,0,.49-.19.64.64,0,0,0,.21-.49Zm16.06.5a.35.35,0,0,1-.38-.38v-.12a.68.68,0,0,0-.19-.49.65.65,0,0,0-.49-.21h-3.43a.67.67,0,0,0-.49.21.64.64,0,0,0-.19.49v1a.72.72,0,0,0,.19.51.69.69,0,0,0,.49.19h3.43a2.86,2.86,0,0,1,1.19.25,3.08,3.08,0,0,1,1.64,1.64,3,3,0,0,1,.25,1.19v1a3,3,0,0,1-.25,1.21,3.13,3.13,0,0,1-.66,1,3.34,3.34,0,0,1-1,.67,3,3,0,0,1-1.19.24h-3.43a3,3,0,0,1-1.19-.24,3.21,3.21,0,0,1-1.65-1.65,3,3,0,0,1-.24-1.21v-.12a.35.35,0,0,1,.1-.26.41.41,0,0,1,.28-.12h1.63a.32.32,0,0,1,.26.12.35.35,0,0,1,.13.26v.12a.72.72,0,0,0,.19.51.69.69,0,0,0,.49.19h3.43a.67.67,0,0,0,.49-.19.76.76,0,0,0,.19-.51v-1a.7.7,0,0,0-.19-.49.67.67,0,0,0-.49-.19h-3.43a2.82,2.82,0,0,1-1.19-.25,3.13,3.13,0,0,1-1-.66,3.34,3.34,0,0,1-.67-1,3.15,3.15,0,0,1-.24-1.21v-1a3,3,0,0,1,.24-1.21A3.21,3.21,0,0,1,101,11a3,3,0,0,1,1.19-.24h3.43a3,3,0,0,1,1.19.24,3.34,3.34,0,0,1,1,.67,3.13,3.13,0,0,1,.66,1,3,3,0,0,1,.25,1.21V14a.43.43,0,0,1-.11.28.35.35,0,0,1-.26.1Zm15.7,0a.4.4,0,0,1-.28-.1A.43.43,0,0,1,122,14v-.12a.68.68,0,0,0-.68-.7h-3.43a.68.68,0,0,0-.68.7v1a.76.76,0,0,0,.19.51.7.7,0,0,0,.49.19h3.43a2.82,2.82,0,0,1,1.19.25,3,3,0,0,1,1,.66,3.34,3.34,0,0,1,.67,1,3,3,0,0,1,.24,1.19v1a3,3,0,0,1-.24,1.21,3.34,3.34,0,0,1-.67,1,3.22,3.22,0,0,1-1,.67,3,3,0,0,1-1.19.24h-3.43a2.93,2.93,0,0,1-1.18-.24,3.26,3.26,0,0,1-1-.67,3.31,3.31,0,0,1-.66-1,3,3,0,0,1-.24-1.21v-.12a.35.35,0,0,1,.1-.26.39.39,0,0,1,.28-.12h1.63a.41.41,0,0,1,.38.38v.12a.76.76,0,0,0,.19.51.7.7,0,0,0,.49.19h3.43a.66.66,0,0,0,.49-.19.72.72,0,0,0,.19-.51v-1a.65.65,0,0,0-.68-.68h-3.43a2.78,2.78,0,0,1-1.18-.25,3.07,3.07,0,0,1-1-.66,3.31,3.31,0,0,1-.66-1,3.15,3.15,0,0,1-.24-1.21v-1a3,3,0,0,1,.24-1.21,3.31,3.31,0,0,1,.66-1,3.26,3.26,0,0,1,1-.67,2.93,2.93,0,0,1,1.18-.24h3.43a3,3,0,0,1,1.19.24,3.22,3.22,0,0,1,1,.67,3.34,3.34,0,0,1,.67,1,3,3,0,0,1,.24,1.21V14a.42.42,0,0,1-.1.28.36.36,0,0,1-.27.1ZM137,10.75a3,3,0,0,1,1.19.24,3.34,3.34,0,0,1,1,.67,3.13,3.13,0,0,1,.66,1,2.85,2.85,0,0,1,.25,1.21v1a2.88,2.88,0,0,1-.18,1,3.34,3.34,0,0,1-.47.87,3.34,3.34,0,0,1,.47.87,2.88,2.88,0,0,1,.18,1v1a2.85,2.85,0,0,1-.25,1.21,3.13,3.13,0,0,1-.66,1,3.34,3.34,0,0,1-1,.67,3,3,0,0,1-1.19.24h-6.14a.34.34,0,0,1-.26-.1.45.45,0,0,1-.11-.28V11.13a.36.36,0,0,1,.11-.26.32.32,0,0,1,.26-.12Zm-4.11,4.79H137a.63.63,0,0,0,.47-.19.64.64,0,0,0,.21-.49v-1a.62.62,0,0,0-.21-.49.61.61,0,0,0-.47-.21h-4.11Zm4.79,3.1a.64.64,0,0,0-.21-.49A.63.63,0,0,0,137,18h-4.11v2.39H137a.63.63,0,0,0,.47-.19.69.69,0,0,0,.21-.51Zm14.93-7.89a.64.64,0,0,1,.51.35l2.51,6.26a1.54,1.54,0,0,1,.09.37,1.3,1.3,0,0,1,0,.37v4.27a.41.41,0,0,1-.12.28.34.34,0,0,1-.26.1h-1.64a.4.4,0,0,1-.28-.1.45.45,0,0,1-.11-.28v-2h-4.79v2a.38.38,0,0,1-.13.28.33.33,0,0,1-.26.1h-1.62a.4.4,0,0,1-.28-.1.45.45,0,0,1-.11-.28V18.1a1.73,1.73,0,0,1,0-.37,3.72,3.72,0,0,1,.1-.37l2.5-6.26a.69.69,0,0,1,.21-.24.59.59,0,0,1,.32-.11ZM148.65,18h4.61l-1.92-4.81h-.77Zm22.29,4.79h-8.19a.4.4,0,0,1-.28-.1.44.44,0,0,1-.1-.28V11.13a.35.35,0,0,1,.1-.26.38.38,0,0,1,.28-.12h1.63a.41.41,0,0,1,.38.38v9.22h6.18a.32.32,0,0,1,.26.13.34.34,0,0,1,.1.26v1.63a.44.44,0,0,1-.1.28A.35.35,0,0,1,170.94,22.75Zm15.69,0h-8.18a.4.4,0,0,1-.28-.1.45.45,0,0,1-.11-.28V11.13a.36.36,0,0,1,.11-.26.38.38,0,0,1,.28-.12h1.62a.36.36,0,0,1,.27.12.34.34,0,0,1,.12.26v9.22h6.17a.34.34,0,0,1,.27.13.38.38,0,0,1,.1.26v1.63a.5.5,0,0,1-.1.28A.38.38,0,0,1,186.63,22.75Z")
    ul(class="header__menu")
      li
        a(href="#0") Расписание
      li
        a(href="#0") Иговые отчеты
      li
        a(href="#0") Статитстика
      li(class="dropdown") Ещё


    div(class="header__group")
      div(class="header__dropdown")
        img(src="./images/football.png" height="" width="" loading="lazy")
        svg(width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(d="M11 1.25L6 6.75L1 1.25" stroke="#ACAFF3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")

      a(class="header__ava" href="#0")
        svg(viewBox="0 0 34 34" class="donut")
          circle(class="donut-ring" cx="17" cy="17" r="15.91549430918954" fill="transparent" stroke="#c8c8c8" stroke-width="1" stroke-linecap="round")
          circle(class="donut-segment" cx="17" cy="17" r="15.91549430918954" fill="transparent" stroke="#5a60e7" stroke-width="1" stroke-dasharray="100 0" stroke-dashoffset="25" stroke-linecap="round")
        div(class="header__ava__image")
          img(src="images/user-avatar.webp")

      a(class="header__bag" href="#0")
        span(class="header__bag__counter" data-counter="1")

      svg(class="header__burger" width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg")
        rect(width="24" height="3" rx="0.5" fill="#5A60E7")
        rect(y="10" width="24" height="3" rx="0.5" fill="#5A60E7")
        rect(y="20" width="13" height="3" rx="0.5" fill="#5A60E7")



