doctype html
html(lang="ru")
  include ../common/head
  body
    include ../components/header
    img(src="./images/image.jpg")

    include ../components/footer

    script(src="./js/script.js" async)

